@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Noto+Sans:wght@300&family=Nova+Square&family=Playpen+Sans:wght@500&family=Titillium+Web:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}

body {
    height: 100vh;
    background: url(../images/5445590.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Playpen Sans', cursive;
    color: white;
}

.open-tag {
    font-size: 40px;
    text-align: center;
}

.open-tag,
h1 {
    font-size: 40px;
}

.rules p {
    font-size: 30;
    text-align: center;
}



.button {
    margin-left: 40px;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px 20px;
    background: white;
    border: none;
    color: #222738;
    border-radius: 20px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 200px;
}

.button:hover {
    background: rebeccapurple;


}


.begin {
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;
}



.button2 {
    font-size: 15px;
    padding: 10px 20px;
    background: white;
    border: white;
    color: #222738;
    border-radius: 20px;
    font-weight: 800;
    cursor: pointer;
}



.button2:hover {
    background: rebeccapurple;
}

.go-back {
    color: black;
}

.title {
    text-align: center;
}

.details {
    color: white;
    font-weight: bolder;
    text-align: center;
}

#point {
    font-weight: 1300;
}

.memory-game {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    z-index: -1;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 5px;

}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);

}



.front,
.back {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);

}

#pop {
    visibility: hidden;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rebeccapurple;
}

#pop>h1,
#pop p {
    font-weight: bolder;
}

#retry {

    border-radius: 20px;
    background: white;
}

#retry:hover {
    background: rebeccapurple;
}



/*LARGE DEVICES*/
@media (min-width: 992px) {
    .open-tag {
        font-size: 80px;
        margin-top: 60px;
    }

    .rules {
        font-size: 35px;
    }

    .button {
        font-size: 40px;
        padding: 10px 20px;
        border-radius: 10px;
    }



    .button3 {
        font-size: 40px;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .memory-game {
        width: 640px;
        height: 530px;
    }

    .front,
    .back {
        padding: 10px;
    }

    #pop {
        padding: 50px;
    }



    .points>p,
    #pop>h1,
    #pop p,
    #retry {
        font-size: 35px;
    }
}

/*medium devices*/

@media (min-width: 768px) and (max-width: 991px) {
    .open-tag {
        font-size: 75px;
        margin-top: 60px;
    }

    .rules {
        font-size: 30px;
    }

    .button {
        font-size: 35px;
        padding: 10px 20px;
        border-radius: 10px;
    }


    .button3 {
        font-size: 35px;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .memory-game {
        width: 620px;
        height: 512px;
    }

    .front,
    .back {
        padding: 10px;
    }

    #pop {
        padding: 50px;
        top: 40%;
    }



    .points>p,
    #pop>h1,
    #pop p,
    #retry {
        font-size: 35px;
    }
}

/*SMALL DEVICES*/
@media (min-width: 576px) and (max-width: 767px) {
    .open-tag {
        font-size: 60px;
        margin-top: 50px;
    }

    .rules {
        font-size: 25px;
    }

    .button {
        font-size: 30px;
        padding: 10px 20px;
        border-radius: 10px;
    }



    .button3 {
        font-size: 30px;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .memory-game {
        width: 480px;
        height: 398px;
    }

    .front,
    .back {
        padding: 6px;
    }

    #pop {
        padding: 35px;
        top: 30%;
    }



    .points>p,
    #pop>h1,
    #pop p,
    #retry {
        font-size: 30px;
    }
}


@media (max-width: 991px) {
    .open-tag {
        font-size: 75px;
        margin-top: 60px;
    }

    .rules {
        font-size: 30px;
    }

    .button {
        font-size: 35px;
        padding: 10px 20px;
        border-radius: 10px;
        margin-left: 10px
    }


    .button3 {
        font-size: 35px;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .memory-game {
        width: 400px;
        height: 300px
    }

    .front,
    .back {
        padding: 10px;
    }

    #pop {
        padding: 50px;
        top: 40%;
    }



    .points>p,
    #pop>h1,
    #pop p,
    #retry {
        font-size: 35px;
    }
}