@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Noto+Sans:wght@300&family=Nova+Square&family=Playpen+Sans:wght@500&family=Titillium+Web:wght@300&display=swap');

body {
    font-family: 'Playpen Sans', cursive;
    background-color: lightgreen;
}

.open-text {
    font-size: 50px;
    text-align: center;
}

.open-tag2 {
    font-size: 20px;
    text-align: center;
}

#button {
    margin-left: 570px;
    border-radius: 20px;
    background-color: red;
    margin-top: 100px;

}

#button2 {
    border-radius: 15px;
}

#left-arrow {
    height: 40px;
    width: 50px;
}

.back {
    font-family: 'Playpen Sans', cursive;
}

.begin {
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;
}

#snake {
    height: 150px;
    width: 150px;
}

.welcome {}

.rules {}

.game-details {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.game-board {
    height: 100%;
    width: 100%;
    display: grid;
    background: #212837;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}